*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-image: url("./background-game.png");
    height:960px;
    object-fit: cover;

   /*? START HEADER */

    header{
      display: flex;
      align-items: center;
      padding:15px 5%;  
    /*  gap: 100px;*/
     justify-content: space-between; 

      ul{
         list-style: none;
         color: #fff;
         display: flex;
         gap:50px;
         font-family: 'Open Sans', sans-serif;
      }

      i{
        font-size:40px;
        color:gold;
      }
      
    }
    .select{
     display: flex;

    
     option{
        background-color: #000;
        color:#fff;
        margin-left: 20px;
      
      }
    }
}

     /*? END HEADER */


     /*? START HERO */

.hero-text{
  font-family: 'Bebas Neue', sans-serif;
  text-align: center;
   margin-top:200px;
  color: #fff;

  h1{
    font-size:55px;
  }
 .btn1{ 
  background-color:#FFB548 ;
  padding:20px 30px;
  border: none;
  border-radius:7px;
  font-family: 'Open Sans', sans-serif;
  margin-top:40px;
  }
 
}
   
       /*?  END HERO  */


       /*  START SECTION */
  
          section{
           background-image:url("./background_hero.png");
           align-items: center;
           font-family: 'Open Sans', sans-serif;
           display: flex;
           gap: 40px;
           padding:5% 6%;
        
           .section-left{
            color: #fff;
            padding-top:120px;

             h1{
              font-size:80px;  
             }

             p{
              max-width:300px;
              margin:100px 200px;
           }
         }
       }

       /*?  END  SECTION  */

       /* START  MAIN */

        .main{
          background-image:url("./Group\ 2.jpg");
          color: #fff;
          font-family: 'Bebas Neue', sans-serif;
          object-fit: cover;
          padding:5% 7%;
          height:100%;
          
          .main-text{
            text-align: center;
            color: #fff;
           
           h1{
            font-size:60px;
           }
          }
          .grid{
            display: grid;
            grid-template-columns:repeat(2,250px);
            grid-template-rows:repeat(3,1fr);
            color: #fff;
            padding-left:60px;
            padding-top: 100px;
            .grid1{
              padding: 4%;
              align-items: center;
              border: #fff solid;
            }
            .grid2{
              padding: 4%;
              align-items: center;
              border: #fff solid;
            }
            .grid3{
              padding: 4%;
              align-items: center;
              border: #fff solid;
            }
            .grid4{
              padding: 4%;
              align-items: center;
              border: #fff solid;
            }
            .grid5{
              grid-column:1/3;
              padding: 4%;
              align-items: center;
              border: #fff solid;
            }
            h5{
              color: #FFB548;
            }
          }
        }

        /* END MAIN */

        /* START SERVICES */


   
    
      
          








       



    