*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-image: url("./background-game.png");
    height:960px;
    object-fit: cover;

   /*? START HEADER */

    header{
      display: flex;
      align-items: center;
      padding:15px 5%;  
    /*  gap: 100px;*/
     justify-content: space-between; 

      ul{
         list-style: none;
         color: #fff;
         display: flex;
         gap:50px;
         font-family: 'Open Sans', sans-serif;
      }

      i{
        font-size:40px;
        color:gold;
      }
      
    }
    .select{
     display: flex;

    
     option{
        background-color: #000;
        color:#fff;
        margin-left: 20px;
      
      }
    }
}

     /*? END HEADER */


     /*? START HERO */

.hero-text{
  font-family: 'Bebas Neue', sans-serif;
  text-align: center;
   margin-top:200px;
  color: #fff;

  h1{
    font-size:55px;
  }
 .btn1{ 
  background-color:#FFB548 ;
  padding:20px 30px;
  border: none;
  border-radius:7px;
  font-family: 'Open Sans', sans-serif;
  margin-top:40px;
  }
 
}
p{
  color: #fff;
  text-align: center;
  margin-top:240px;
  i{
    color: transparent;
    border:none;
  }
}
       /*?  END HERO  */


       /* START CONTENT */
 .content{
  background-image: url("./background_hero.png");
  /*height: 960px; */
  color: #fff;
  box-sizing: border-box;
  padding:5%;

  .content-left1{
    max-width: 450px;
    font-family: 'Bebas Neue', sans-serif;
    h1{
      font-size:70px;
    } 
  }

  .content-left2{
    p{
      max-width:360px;
      font-family: 'Open Sans', sans-serif;
      font-size:18px;
    /*  margin-left:100px;*/
    }
  }

 }